/** 04.1 Btns */
.btn{
    display: inline-flex;
    align-items: center;
    background: $theme-accent;
    color: $white;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    line-height: 1.25rem;
    font-size: .8125rem;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &-sm{
        padding: 0.4375rem 1.375rem;
    }
    &:hover{
        color:$white;
    }
    &-transparent{
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        color:$theme-accent;
        .tc-light &{
            color:$white;
        }
        &:hover{
            color:$theme-accent;
            .tc-light &{
                color:$white;
            }
        }
    }
    .icon{
        font-size: 1rem;
        line-height: 1.375rem;
    }
    span + .icon,.icon + span{
        padding-left: 0.5rem;
    }
}

@media (min-width:576px){
    .btn{
        padding: 0.6875rem 1.75rem;
        line-height: 1.5rem;
        font-size: 1rem;
        &-sm{
            padding: 0.4375rem 1.375rem;
        }
        &-transparent{
            padding-left: 0;
            padding-right: 0;
        }
        .icon{
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
        span + .icon,.icon + span{
            padding-left: 0.75rem;
        }
    }
}

/** 04.2 Logo */
.logo{
    &-light{
        display: none;
        .tc-light &{
            display: block;
        }
    }
    &-dark{
        .tc-light &{
            display: none;
        }
    }
}